@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans Thai", sans-serif;
}

.skewed-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: -30vw;
  width: 63vw;
  height: 100%;
  background-image: url("../images/main-bg.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.25;
  mix-blend-mode: multiply;
  transform: skewX(-12deg) translateX(-25%);
  transform-origin: top left;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%);
  z-index: 0;
}

.border-left::before {
  content: "";
  position: absolute;
  top: 0;
  right: 42.3%;
  width: 6px;
  height: 100%;
  opacity: 0.8;
  background-color: #ec4899; /* Tailwind pink-500 */
  transform: skewX(-12deg); /* same skew as container */
  transform-origin: top right;
  z-index: 1;
}

/* Pink underline under title */
.title-underline {
  height: 4px;
  width: 300px;
  background: #ec4899; /* pink-500 */
  border-radius: 9999px;
  margin: 0.75rem auto 2rem;
}

.glass {
  @apply bg-white/10 backdrop-blur-xl border border-white/30 shadow-lg rounded-3xl;
}
a:hover {
  color: #f72585;
}
